.titulo {
    font-family: "Nata Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}
 
.btn{
    font-family: "Nata Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px; 
    color: antiquewhite;
}



 